* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  margin: 0;
}

.grid-container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.box {
  width: 31px;
  height: 31px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}